source.organism=Homo sapiens
target.organism=Mus musculus
output.dir=/home/martina/workspace/pathvisio/homology.mapper/test/output
input.dir=/home/martina/workspace/pathvisio/homology.mapper/test/input
source.gene.mapping.db=/home/martina/Data/BridgeDb/Hs_Derby_Ensembl_83.bridge
mapping.file=/home/martina/workspace/pathvisio/homology.mapper/test/hsa-mmu.txt
new.gene.names=/home/martina/workspace/pathvisio/homology.mapper/test/mmu-genes.txt
system.code.source=En
system.code.target=En
log.file=/home/martina/workspace/pathvisio/homology.mapper/test/log.txt
