output.dir=resources/results/
mapping.file=resources/mart_hsa-bta.txt
ds.source=En
ds.target=En
source.organism=Homo sapiens
target.organism=Bos taurus
source.gene.mapping.db=/home/tina/Data/BridgeDb/Hs_Derby_20130701.bridge
log.file=resources/homology.log
webservice.url=http://webservice.wikipathways.org