output.dir=resources/results/
mapping.file=resources/mart_export_human_cow.txt
new.gene.names=resources/mart_export_cow_gene_name.txt
ds.source=En
ds.target=En
source.organism=Homo sapiens
target.organism=Bos taurus
source.gene.mapping.db=/home/martina/Data/BridgeDb/Hs_Derby_20130701.bridge
log.file=resources/homology.log
webservice.url=http://webservice.wikipathways.org